<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
   <bean id="busService" class="com.aits.Springdemo.BusService"></bean>
    <bean id="trainService" class="com.aits.Springdemo.TrainService"></bean>
    <bean id="flightService" class="com.aits.Springdemo.FlightService"></bean>

 
    <bean id="bookingService" class="com.aits.Springdemo.BookingService">  </bean>
</beans>